
/**
 * Style: Main
 * Nirvana theme
 */

/* =====================================
 * Colors
 * -------------------------------------

   dark blue               rgb(0,89,142)
   med blue                rgb(0,115,186)
   light blue              rgb(155,204,233)
   x-light blue            rgb(224,238,247)
   xx-light blue           rgb(241,248,251)

   black 90%               rgb(26,26,26)
   black 80%               rgb(51,51,51) body text
   black 70%               rgb(77,77,77)
   black 60%               rgb(102,102,102)
   black 50%               rgb(128,128,128)
   black 40%               rgb(153,153,153)
   black 30%               rgb(179,179,179)
   black 20%               rgb(204,204,204)
   black 10%               rgb(230,230,230)
   black 5%                rgb(242,242,242)

 * -------------------------------------
 * end Colors
 * ===================================== */



/* =====================================
 * Structure
 * -------------------------------------

   page.tpl.php structure
   ------------------------------------

   #outer
   |  #page
   .  .
   |  |  #header-region (region)
   |  |  #header
   |  |  |  img#logo
   |  |  |  #header-text
   |  |  |  |  #site-name
   |  |  |  |  #site-slogan
   |  |  |  #search-wrapper
   |  |  |  |  form: search
   |  |  #navigation (primary & secondary links)
   .  .
   |  |  #columns-wrapper
   .  .  .
   |  |  |  #main
   |  |  |  |  #breadcrumb
   |  |  |  |  #mission
   |  |  |  |  #content-above (region)
   |  |  |  |  h1#page-title
   |  |  |  |  div.tabs
   |  |  |  |  #main-inner
   |  |  |  |  |  MESSAGES
   |  |  |  |  |  HELP
   |  |  |  |  |  CONTENT (e.g., node.tpl.php)
   |  |  |  |  |  #feed-icons
   |  |  |  |  #content-below (region)
   .  .  .
   |  |  |  #left-sidebar (region)
   |  |  |  |  #left-sidebar-inner
   .  .  .
   |  |  |  #right-sidebar (region)
   |  |  |  |  #right-sidebar-inner
   .
   |  #clearfooter
   |  #footer-wrapper
   |  |  #footer
   |  |  |  #footer-message
   |  |  |  #footer-region

 * -------------------------------------
 * end Structure
 * ===================================== */



/* =====================================
 * Layout: Nirvana
 * ------------------------------------- *

   Usable widths
   ------------------------------------

   Total width: 900px

   Usable width inside #main:
     w/ one sidebar: 720px
     w/ both sidebars: 540px

   Usable width inside node content areas:
     #main > #main-inner > node > node-inner > content
     w/ one sidebar: 700px
     w/ both sidebars: 520px

   Left sidebar usable width: 160px
   Right sidebar usable width: 160px

   Footer usable width: 900px

 * ------------------------------------- */

#page { /* container beween #outer and #footer; height: 0px; */
  width: 900px; /* sets main width */
  margin: 0 auto;
  padding: 0;
  }

  #header {
    position: relative;
    height: 60px; /* height must be specified to prevent breaking in IE6 */
    }
    #search-wrapper {
      position: absolute;
        right: 0;
        top: 10px;
      }

  #columns-wrapper {
  	/* this is a stub to provide parallelism with the main Nirvana theme */
    }
    #page .column { /* all three columns use this */
      /* this is a stub to provide parallelism with the main Nirvana theme */
      }

    #main { /* main center column */
      /* left point: 180px */
      float: left;
      padding: 0;
      }
    /* IE 6 FIX REMOVED HERE */
      .both-sidebars #main {
        width: 540px;
        margin-left: 180px; /* creates 20px margin between #main and #left-sidebar (160px) */
        }
      .left-sidebar #main {
        width: 720px;
        margin-left: 180px; /* creates 20px margin between #main and #left-sidebar (160px) */
        }
      .right-sidebar #main {
        width: 720px;
        }

    #left-sidebar {
      /* left point: 0px */
      float: left;
      width: 160px;
      }
      .both-sidebars #left-sidebar {
        margin: 0 0 0 -720px; /* equals width of #page minus width of #left-sidebar */
        }
      .left-sidebar #left-sidebar {
        margin: 0 0 0 -900px; /* equals width of #page */
        }

    #right-sidebar {
      /* left point: 740px (900px-160px) */
      float: left;
      width: 160px;
      margin: 0 0 0 20px; /* needed to push #right-sidebar to right edge */
      }

  #footer {
    width: 900px; /* same as #page */
    }

/* -------------------------------------
 * end Layout: Nirvana
 * ===================================== */



/* =====================================
 * Layout: Anchored footer
 * ------------------------------------- *

/* 
 * How the footer works:
 *   - Footer is anchored to the bottom of the browser window
 *   - #footer-wrapper determines the footer's height
 *   - #clearfooter determines margin between #page and the footer:
 *     margin = (#clearfooter height) - (#footer-wrapper height)
 *     In this case, the footer is 40px tall with a 30px margin
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
  }
#outer {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: auto;
  }
html>body #outer { height: auto; } /* for Mozilla, as IE treats height as min-height */

#clearfooter { /* makes room for footer */
  clear: both;
  height: 70px; /* implicitly sets #footer's margin-top to 30px */
  }
#footer-wrapper {
  position: absolute;
    bottom: 0;
    left: 0;
  clear: both;
  width: 100%;
  height: 40px; /* sets footer height */
  }
  #footer {
    margin: 0 auto;
    }

  /* Change heights if footer message is present */
  .with-footer-message #clearfooter {
    height: 90px;
    }
    .with-footer-message #footer-wrapper {
      height: 60px;
      }

/* -------------------------------------
 * end Layout: Anchored footer
 * ===================================== */



/* =====================================
 * Positioning classes
 * ------------------------------------- */

/* Clear classes */
.clearleft { clear: left; }
.clearright { clear: right; }
.clear { clear: both; }

/* Float classes */
.floatleft { float: left; margin: 0 15px 10px 0 !important; }
.floatright { float: right; margin: 0 0 10px 15px !important; }

/* Alignment classes */
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.aligntop { vertical-align: top; }
.alignmiddle { vertical-align: middle; }
.alignbottom { vertical-align: text-bottom; }

/* Text alignment classes */
.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter, .center { text-align: center; }

/* -------------------------------------
 * end Positioning classes
 * ===================================== */



/* =====================================
 * Typography
 * ------------------------------------- */

.b, .strong { font-weight: bold; }
.i, .em { font-style: oblique; }
.u { text-decoration: underline; }
.smallcaps { font-variant: small-caps; }
.allcaps { text-transform: uppercase; }
.nob, .nostrong { font-weight: normal; }
.noi, .noem { font-style: normal; }
.nospacing { letter-spacing: 0px !important; }
.rom { font-weight: normal !important; font-style: normal !important; text-decoration: none !important; }

.small, small { font-size: .75em !important; }
.big, big { font-size: 1.25em !important; }
.huge { font-size: 1.5em !important; }

.lightgray { color: rgb(179,179,179); }
.medgray { color: rgb(153,153,153); }
.darkgray { color: rgb(102,102,102); }
.black { color: rgb(0,0,0); }
.red { color: rgb(190,0,0); }

code {
  padding: 0;
  background-color: rgb(240,240,240);
  font-family: Monaco, Courier, monospace;
  }
  div.codeblock { /* class created by the Code Filter module */
    margin: 10px 0;
    }

pre {
  display: block;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgb(102,102,102);
  background-color: rgb(240,240,240);
  line-height: 1.5em;
  }
  pre code { overflow: auto; }

acronym, abbr { border-bottom: 1px dashed rgb(102,102,102); cursor: help; }
strike { text-decoration: line-through; color: rgb(102,102,102); }
ins { color: rgb(190,0,0); text-decoration: none;}

a { color: rgb(0,89,142); text-decoration: none; }
a:hover { color: rgb(51,51,51); }

p { margin: 0 0 10px 0; padding: 0; }

/* lists */
ul { margin: 5px 0 10px 20px; padding: 0; }
  ul li { list-style: disc url(images/bullet_dot_blue.png) outside; margin-bottom: 3px; }

/* definition lists */
dl { margin: 5px 0 10px 0; }
  dt { font-weight: bold; }
  dd { margin: 0 0 5px 15px; }

/* headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: rgb(0,89,142);
    }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: rgb(51,51,51);
    text-decoration: none;
    }
h1 {
  color: rgb(0,89,142);
  font-size: 2.75em;
  line-height: 1.15em;
  }
h2 {
  color: rgb(0,89,142);
  font-size: 2em;
  line-height: 1.15em;
  }
h3 {
  color: rgb(0,115,186);
  font-size: 1.5em;
  line-height: 1.15em;
  }
h4 {
  font-size: 1.25em;
  line-height: 1.15em;
  }
h5 {
  color: rgb(102,102,102);
  font-size: 1.15em;
  line-height: 1.15em;
  }
h6 {
  color: rgb(153,153,153);
  font-size: 1em;
  line-height: 1.15em;
  }

.hide { display: none; }
.noborder { border: none !important; }

hr {
  clear: both;
  width: 100%; 
  height: 1px;
  margin: 15px auto 15px auto;
  padding: 0;
  border: none;
  background-color: rgb(0,115,186); /* Mozilla, Opera */
  color: rgb(0,115,186); /* IE */
  }

/* -------------------------------------
 * end Typography
 * ===================================== */



/* =====================================
 * Forms
 * ------------------------------------- */

.form-text, .form-select, .form-submit {
  border: 1px solid rgb(155,204,233);
  color: rgb(51,51,51);
  }
.form-text, .form-checkbox, form-radio {
  padding: 2px 5px;
  }

.form-text {
  }
.form-select {
  }
  dl.multiselect dd .form-select {
    font-weight: normal;
    }
.form-checkbox {
  }
.form-radio {
  }
.form-submit {
  padding: 1px 5px;
  background: white url(images/bg_button.png) bottom left repeat-x;
  color: rgb(51,51,51);
  }
  .form-submit:hover {
    cursor: pointer;
    }
  input:hover, input:focus, 
  select:hover, select:focus {
    background: rgb(241,248,251);
    border-color: rgb(0,115,186);
    color: rgb(0,89,142);
    }

.required {
  }
.form-required { /* asterisk */
  font-weight: bold;
  }

label {
  }

div.description {
  color: rgb(102,102,102);
  line-height: 1.25em;
  }

div.form-radios {
  margin: 0;
  }
  div.form-radios div.form-item {
    margin: 0;
    }

fieldset {
  margin: 10px 0 20px 0;
  background: white url(images/bg_fieldset.png) top left repeat-x;
  border: 1px solid rgb(155,204,233);
  }
  fieldset ul li {
    list-style: none;
    }
  legend {
    padding: 0 5px;
    background: white url(images/bg_legend.png) bottom left repeat-x;
    border: 1px solid rgb(155,204,233);
    color: rgb(102,102,102);
    font-weight: bold;
    }

/* -------------------------------------
 * end Forms
 * ===================================== */



/* =====================================
 * Framework
 * ------------------------------------- */

body {
  font-size: 62.5%; /* resets 1em to 10px */
  font-family: Arial, Verdana, sans-serif;
  color: rgb(51,51,51);
  }
  #outer {
    font-size: 1.25em;
    }

  #header-region {
    padding: 5px;
    background-color: rgb(241,248,251);
    border-bottom: 1px dotted rgb(155,204,233);
    line-height: 1.25em;
    }

  #header {
    margin-bottom: 5px;
    padding: 10px 0 0 0;
    }
    img#logo {
      float: left;
      margin: 0 20px 5px 0;
      }
    #header-text {
      }
      #site-name {
        margin-bottom: 5px;
        padding: 0;
        color: rgb(0,89,142);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        font-size: 3em;
        }
        #site-name a {
          }
        #site-name a:hover {
          }
      #site-slogan {
        margin-bottom: 5px;
        color: rgb(102,102,102);
        }

  #navigation {
    margin-bottom: 10px;
    }

  /* main center column
   * 
   * width (w/ one sidebar): 720px
   * width (w/ both sidebars): 540px
   */
  #main {
    }
    #breadcrumb {
      margin-bottom: 10px;
      padding-bottom: 3px;
      border-bottom: 1px solid rgb(155,204,233);
      color: rgb(155,204,233);
      font-size: .9em;
      }
    #mission {
      margin-bottom: 15px;
      padding: 5px 10px;
      background-color: rgb(241,248,251);
      border: 1px solid rgb(155,204,233);
      color: rgb(0,89,142);
      font-size: 1.25em;
      line-height: 1.5em;
      }

    #main-inner { /* allows you to adjust padding without breaking layout */
      line-height: 1.5em;
      }
      #feed-icons {
        text-align: right;
        }

  #left-sidebar-inner, #right-sidebar-inner { /* allows you to adjust padding without breaking layout */
    }
  #left-sidebar-inner {
    }
  #right-sidebar-inner {
    }

#footer-wrapper {
  }
  #footer {
    }
    #footer-message {
      margin-bottom: 5px;
      text-align: center;
      color: rgb(102,102,102);
      }
    #footer-region {
      }

/* -------------------------------------
 * end Framework
 * ===================================== */



/* =====================================
 * Menus
 * ------------------------------------- */

ul.menu, ul.links-menu {
  margin: 0;
  padding: 0;
  }
  ul.menu li, ul.links-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    }

  ul.menu ul.menu { /* nested menus */
    margin-left: 10px;
    }

/* sidebar menus */
div.sidebar ul.menu {
  margin-left: -5px;
  margin-right: -5px;
  }
  div.sidebar ul.menu li a {
    display: block;
    padding: 2px 5px;
    border-bottom: 1px dotted rgb(224,238,247);
    }
  div.sidebar ul.menu li a:hover {
    background: rgb(241,248,251);
    border-color: rgb(155,204,233);
    }
  div.sidebar ul.menu li a.active {
    color: rgb(51,51,51);
    font-weight: bold;
    }

  div.sidebar ul.menu ul.menu { /* nested menus */
    margin-left: 10px;
    margin-right: 0;
    }

/* footer menus */
#footer ul.menu {
  padding: 3px 0; /* adjusts for padding on [#footer ul.menu li a] (below) */
  text-align: center;
  }
  #footer ul.menu li {
    display: inline;
    padding-right: 5px;
    border-right: 1px solid rgb(155,204,233);
    }
  #footer ul.menu li.only, 
  #footer ul.menu li.last {
    padding-right: 0;
    border-right: none;
    }
    #footer ul.menu li a {
      padding: 3px;
      }

/* -------------------------------------
 * end Menus
 * ===================================== */



/* =====================================
 * Primary/secondary links
 * ------------------------------------- */

ul.links-menu {
  margin: 0 10px;
  padding: 6px 0 5px 0; /* adjusts for padding+border on [ul.links-menu li a] (below) */
  }
  ul.links-menu li {
    display: inline;
    font-weight: bold;
    }

#primary {
  border-bottom: 4px solid rgb(0,115,186);
  text-align: right;
  }
  .withsecondary #primary {
    border-bottom: none;
    }
  #primary ul.links-menu {
    }
    #primary ul.links-menu li a {
      padding: 5px;
      background: white url(images/bg_button.png) bottom left repeat-x;
      border: 1px solid rgb(155,204,233);
      border-bottom: none;
      color: rgb(0,115,186);
      }
    #primary ul.links-menu li a:hover, #primary ul.links-menu li.active a {
      background: rgb(155,204,233) url(images/bg_button_hover.png) bottom left repeat-x;
      border-color: rgb(0,115,186);
      color: white;
      }

#secondary {
  background: rgb(0,115,186);
  text-align: right;
  }
  #secondary ul.links-menu {
    }
    #secondary ul.links-menu li a {
      padding: 0 5px;
      color: rgb(155,204,233);
      }
    #secondary ul.links-menu li a:hover, #secondary ul.links-menu li.active a {
      color: white;
      }

/* -------------------------------------
 * end Primary/secondary links
 * ===================================== */



/* =====================================
 * Blocks
 * ------------------------------------- *

   block.tpl.php structure
   ------------------------------------

   div.block
   |  h2.title
   |  div.content
   .
   .  [if it outputs a list]
   |  |  div.item-list
   |  |  |  h3 (used in "Who's Online" block: "Online users")
   |  |  |  ul
   .
   .  [if it outputs a menu]
   |  |  ul.menu

 * ------------------------------------- */

#header div.block h2, #header div.block h3, 
#footer div.block h2, #footer div.block h3 {
  display: none;
  }

/* sidebar blocks */
div.sidebar div.block {
  padding: 0;
  margin-bottom: 15px;
  }
  div.sidebar div.block h2.title {
    margin: 0;
    padding: 2px 5px;
    background-color: rgb(241,248,251);
    border-top: 1px solid rgb(155,204,233);
    border-bottom: 1px dotted rgb(155,204,233);
    font-size: 1.25em;
    letter-spacing: 1px;
    }
  div.sidebar div.block div.content {
    padding: 5px;
    line-height: 1.25em;
    }
    div.sidebar div.block h3 {
      margin: 5px 0 0 0;
      font-size: 1em;
      }
    div.sidebar div.block div.item-list {
      }
      div.sidebar div.block div.item-list ul {
        margin: 0 0 0 5px;
        padding: 0;
        }
        div.sidebar div.block div.item-list ul li {
          list-style: disc url(images/bullet_dot_blue.png) outside;
          }

#block-user-0 { /* user login block */
  }
  #block-user-0 div.item-list {
    margin-top: 10px;
    text-align: left;
    }
  #user-login-form {
    }

#block-search-0 { /* div.block-search | form #search-block-form */
  }
  #block-search-0 div.content {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    }
  #block-search-0 .form-text {
    width: 85px;
    font-size: .9em;
    }
  #block-search-0 .form-submit {
    font-size: .9em;
    }

/* -------------------------------------
 * end Blocks
 * ===================================== */



/* =====================================
 * Messages, Help, and Infoboxes
 * ------------------------------------- */

div.messages, div.help {
  min-height: 18px;  /* prevents the divs from cutting off the icon (rare) */
  margin-bottom: 10px;
  padding: 5px 5px 0 28px;
  line-height: 1.25em;
  }
  div.messages p, div.messages ul, 
  div.help p, div.help ul {
    margin-top: 0;
    margin-bottom: 5px;
    }

div.messages {
  background: rgb(212,239,204) url(images/icon_success.gif) 5px 4px no-repeat;
  border: 1px solid rgb(41,174,0);
  }
  div.status {
    }
    div.status ul li {
      list-style-image: url(images/bullet_dot_green.png);
      }
  div.error {
    background: rgb(242,204,204) url(images/icon_error.gif) 5px 4px no-repeat;
    border: 1px solid rgb(190,0,0);
    }
    div.error ul li {
      list-style-image: url(images/bullet_dot_red.png);
      }
  div.warning {
    background: rgb(255,252,216) url(images/icon-warning.gif) 5px 4px no-repeat;
    border: 1px solid rgb(255,240,60);
    }
    div.warning ul li {
      list-style-image: url(images/bullet-dot-yellow.png);
      }

div.help {
  background: rgb(255,252,216) url(images/icon_help.gif) 5px 4px no-repeat;
  border: 1px solid rgb(255,240,60);
  }
  div.help ul li {
    list-style-image: url(images/bullet_dot_yellow.png);
    }
  div.more-help-link {
    margin-bottom: 5px;
    }

/* -------------------------------------
 * end Messages, Help, and Infoboxes
 * ===================================== */



/* =====================================
 * Tabs
 * ------------------------------------- */

div.tabs {
  font-size: .9em;
  }
  div.tabs ul {
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgb(155,204,233);
    }
  div.tabs a {
    color: rgb(102,102,102);
    }
  div.tabs a.active {
    color: rgb(51,51,51) !important;
    font-weight: bold;
    }
  div.tabs a.active:hover {
    background: transparent;
    }

  div.tabs ul.primary {
    padding: 0 10px 1px 10px;
    text-transform: uppercase;
    }
    div.tabs ul.primary li {
      padding: 0;
      margin: 0;
      }
      div.tabs ul.primary li a {
        padding: 3px 5px 1px 5px;
        background: white url(images/bg_button.png) top left repeat-x;
        border: 1px solid rgb(155,204,233);
        border-bottom: none;
        }
      div.tabs ul.primary li a:hover {
        background: rgb(155,204,233) url(images/bg_button_hover.png) top left repeat-x;
        border-color: rgb(0,115,186);
        color: white;
        }
      div.tabs ul.primary li a.active {
        background: white;
        border-color: rgb(155,204,233);
        border-bottom: 1px solid white;
        }

  div.tabs ul.secondary {
    padding: 0 10px 5px 10px;
    line-height: 1.5em;
    }
    div.tabs ul.secondary li {
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;
      }
      div.tabs ul.secondary li a:hover {
        border-bottom: 2px solid rgb(224,238,247);
        }
      div.tabs ul.secondary li a.active {
        border-bottom: 2px solid rgb(155,204,233);
        }

/* -------------------------------------
 * end Tabs
 * ===================================== */



/* =====================================
 * Nodes and comments
 * ------------------------------------- */

div.submitted {
    margin-bottom: 10px;
    padding: 2px 10px 0 10px;
    border-top: 1px dotted rgb(155,204,233);
    border-bottom: 1px dotted rgb(155,204,233);
    text-align: left;
    font-size: .9em;
    color: rgb(102,102,102);
    }

div.node div.content, 
div.comment div.content {
    margin-bottom: 10px;
    padding: 0 10px; /* reduces usable space to 520px (2-col), 700px (1-col) */
    }

  div.node div.content a:hover, 
  div.comment div.content a:hover {
    color: rgb(0,89,142);
    text-decoration: underline;
    }
  
  /* headers */
  div.node div.content h2, 
  div.comment div.content h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    }
  div.node div.content h3, 
  div.comment div.content h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    }
  div.node div.content h2:first-child, div.node div.content h2:first-child, 
  div.comment div.content h2:first-child, div.comment div.content h2:first-child {
    margin-top: 0;
    }
  div.node div.content h2 + h3, 
  div.comment div.content h2 + h3 {
    margin-top: 10px;
    }

div.links {
  padding: 2px 0 0 0;
  border-top: 1px dotted rgb(155,204,233);
  font-size: .9em;
  }
  div.links ul.links li {
    margin-right: 10px;
    padding: 0;
    }
    div.links ul.links li a,
    div.links ul.links li span { /* creates room for bullets (below) */
      padding-top: 4px;
      padding-bottom: 1px;
      }

  /* style specific ul.links links here */
  div.links ul.links li a.node_read_more, 
  div.links ul.links li a.comment_add, 
  div.links ul.links li a.comment_comments, 
  div.links ul.links li a.comment_reply, 
  div.links ul.links li a.comment_new_comments, 
  div.links ul.links li span.comment_forbidden {
    font-weight: bold;
    }
  div.links ul.links li a.node_read_more {
    padding-left: 20px;
    background: url(images/icon_readmore.gif) 0 2px no-repeat;
    text-transform: uppercase;
    }
  div.links ul.links li a.comment_new_comments {
    color: rgb(190,0,0);
    }
  div.links ul.links li a.comment_comments {
    padding-left: 20px;
    background: url(images/icon_comment.gif) 0 2px no-repeat;
    }
  div.links ul.links li a.comment_add, 
  div.links ul.links li a.comment_reply {
    padding-left: 20px;
    background: url(images/icon_comment_add.gif) 0 2px no-repeat;
    }
  div.links ul.links li a.comment_edit {
    padding-left: 20px;
    background: url(images/icon_comment_edit.gif) 0 2px no-repeat;
    }
  div.links ul.links li a.comment_delete {
    padding-left: 20px;
    background: url(images/icon_comment_delete.gif) 0 2px no-repeat;
    }
  div.links ul.links li a.forward_links {
    padding-left: 20px;
    background: url(images/icon_email.gif) 0 0 no-repeat;
    }
  div.links ul.links li a.blog_usernames_blog {
    padding-left: 10px;
    background: url(images/bullet_dot_green.png) 0 55% no-repeat;
    }

/* a "picture" is a user's avatar */
div.picture {
  float: right;
  margin: 0 0 10px 20px;
  }

/* -------------------------------------
 * end Nodes and comments
 * ===================================== */



/* =====================================
 * Nodes
 * ------------------------------------- *

   node.tpl.php structure
   ------------------------------------

   div.node
   |  h2.title
   |  div.node-inner
   |  |  div.submitted
   |  |  div.content
   |  |  |  PICTURE
   |  |  |  CONTENT
   |  |  div.taxonomy
   |  |  div.links

 * ------------------------------------- */

div.node { /* usable width starts at 540px (2-col), 720px (1-col) */
  margin-bottom: 30px;
  }
  div.node h2.title { /* creates space between h1#page-title and list of node with h2.title */
    margin-top: 20px;
    }
  div.node div.node-inner {
    border-bottom: 1px solid rgb(155,204,233);
    }

/* taxonomy module */
div.taxonomy {
  margin-top: 10px;
  font-size: .9em;
  color: rgb(102,102,102);
  text-align: right;
  }

/* forum module */
div.forum-topic-navigation {
  clear: both;
  background: rgb(241,248,251);
  border-color: rgb(224,238,247);
  }

/* -------------------------------------
 * end Nodes
 * ===================================== */



/* =====================================
 * Comments
 * ------------------------------------- */

#comments { /* wraps entire comments section */
  }
  #comments h2.title {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(155,204,233);
    line-height: 1.25em;
    }

div.comment {
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(155,204,233);
  }
  div.comment h3.title {
    }
  div.comment div.new {
    float: right;
    margin-left: 20px;
    padding: 4px;
    border: 1px solid rgb(155,204,233);
    color: rgb(190,0,0);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    font-size: .9em;
    }

/* -------------------------------------
 * end Comments
 * ===================================== */



/* =====================================
 * Boxes
 * ------------------------------------- */

div.box {
  margin-bottom: 20px;
  }

/* -------------------------------------
 * end Boxes
 * ===================================== */



/* =====================================
 * Tables
 * ------------------------------------- */

#main table {
  width: 100%;
  margin: 10px 0 20px 0;
  }
  #main table td, #main table th {
    padding: 3px 5px;
    }
  #main table thead {
    }
    #main table thead tr {
      }
      #main table thead tr th {
        padding: 0 5px 0 0;
        color: rgb(102,102,102);
        }
  #main table tbody {
    }
    #main tbody tr {
      border-bottom: 1px solid rgb(224,238,247);
      }
    #main tr.odd {
      background: white;
      }
    #main tr.even {
      background: rgb(241,248,251);
      }
      #main td.region {
        padding: 5px;
        background-color: rgb(224,238,247) !important;
        border-top: 10px solid white;
        border-bottom: 1px solid rgb(155,204,233);
        font-size: 1.15em;
        }
      #main td.active {
        background: rgb(241,248,251);
        border-left: 1px solid rgb(224,238,247);
        border-right: 1px solid rgb(224,238,247);
        }
      #main td.menu-disabled {
        background-color: rgb(240,240,240);
        border-bottom: 1px solid rgb(230,230,230);
        }
        #main td div.item-list ul {
          margin-bottom: 0;
          }
          #main td div.item-list ul li {
            margin: 0 0 0 10px;
            }

/* -------------------------------------
 * end Tables
 * ===================================== */



/* =====================================
 * Admin styles
 * ------------------------------------- */

div.admin {
  padding: 0;
  }
  div.admin div.compact-link {
    margin-bottom: 5px;
    text-align: right;
    font-size: .9em;
    }
  div.admin div.left, div.admin div.right {
    width: 48%;
    margin: 0;
    }

div.admin-panel {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  }
  div.admin-panel h3 {
    margin-bottom: 0;
    padding: 5px 5px 5px 28px;
    background: rgb(241,248,251) url(images/icon_config.gif) 5px 50% no-repeat;
    border-top: 1px solid rgb(155,204,233);
    border-bottom: 1px dotted rgb(155,204,233);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: 1px;
    }
  div.admin-panel div.body {
    margin: 0;
    padding: 5px;
    }
    div.admin-panel div.body p.description {
      border-bottom: 1px dotted rgb(153,153,153);
      color: rgb(102,102,102);
      font-size: .9em;
      line-height: 1.25em;
      text-align: right;
      }

div.admin-required, div.admin-dependencies {
  color: rgb(153,153,153);
  }

.block-region {
  margin: 5px 0;
  padding: 3px;
  background: rgb(255,252,216);
  border: 2px dashed rgb(255,240,60);
  text-align: center;
  color: rgb(51,51,51);
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  }

table.system-status-report {
  }
  table.system-status-report th, 
  table.system-status-report tr.merge-up td {
    padding-left: 30px !important;
    }
  table.system-status-report th {
    border-bottom: none;
    }
  table.system-status-report tr.ok th {
    background-image: url(images/icon_success.gif);
    }
  table.system-status-report tr.error th {
    background-image: url(images/icon_error.gif);
    }
  table.system-status-report tr.warning th {
    background-image: url(images/icon_warning.gif);
    }
  table.system-status-report tr.error th, 
  table.system-status-report tr.error td {
    background-color:  rgb(242,204,204);
    }

/* -------------------------------------
 * end Admin styles
 * ===================================== */
