
/**
 * Style: Fixes for IE 6 and earlier
 * Nirvana theme
 */


/* ........................ */
/* ..... layout fixes ..... */

* html #main { /* IE 5/6 double float-margin fix */
  display: inline;
  }

div.sidebar ul.menu li a {
  width: 94%; /* needed to eliminate nasty white space under links */
  }

/* ..... end layout fixes ..... */
/* ............................ */



/* .......................... */
/* ..... list overrides ..... */

li.expanded, li.collapsed, li.leaf {
  list-style-image: none;
  }

/* ..... end list overrides ..... */
/* .............................. */



/* .......................... */
/* ..... menu overrides ..... */

#footer ul.menu li {
  padding-right: 2px;
  margin-right: 5px;
  }
#footer ul.menu li.last {
  margin-right: 0;
  }

/* ..... end menu overrides ..... */
/* .............................. */
